body {
    background-color: rgb(204, 202, 202);
}

h1 {
    background-color: black;
    padding: 4px;
    max-width: fit-content;
    color: white;
}

a {
    background-color: lightgray;
    text-align: center;
    color: blue;
    padding: 3px;
}
li {
    list-style-type: none;
}